h1{
    font-size: 40px;
    color: white;
    background-color: darkred;
    border: solid red 5px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 10x;
}

h4{
    font-size: 20px;
    color: white;
    background-color: rgb(80, 70, 70);
    border: solid red 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
/* menu horizontal */
#menu ul{
    padding: 10px;
    margin: 0px;
    background-color: #2b1010;
    list-style: none;


}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 10px 30px;
    text-decoration: none;
}